﻿@model IEnumerable<Message>
@{
    ViewData["Title"] = "Home Page";
    var userName = User?.Identity?.Name;
    var chatRoomId = ViewBag.CurrentChatRoomId;
    var currentChatRoom = ViewBag.CurrentChatRoom != null ? ViewBag.CurrentChatRoom : "--No Seleccionada--";
}

<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        <i class="fab fa-facebook-messenger"></i>&nbsp; Chat Room: @ViewBag.CurrentChatRoom
    </h2>
    <div class="row">
        <div>

            <label for="selectoption">Change the Chat Room:</label>

            @Html.DropDownList("ChatRoomDropDownList", (IEnumerable
                <SelectListItem>)ViewBag.AvailableChatRooms, htmlAttributes: new { id = "chatRoomSelect" });

        </div>
        <div class="col-md-12" id="chat">
            @if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.When).Take(50))
                {
                    string containerClass, timePosition, textAlign, offset;
                    if (userName == message.UserName)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-chat-date";
                        textAlign = "text-right text-chat-message";
                        offset = "col-md-6 offset-md-6";
                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        offset = "col-md-6";
                    }

                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass">
                                <p class="sender textAlign">@message.UserName</p>
                                <p class="@textAlign">@message.Text</p>
                                <span class="@timePosition">@message.When.ToString()</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (ViewBag.CurrentChatRoomId > 0)
        { 
            <div class="col-md-12" id="messageDiv">
                <form asp-action="Create"
                      data-ajax-begin="clearInputField" data-ajax-complete=""
                      data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                      data-ajax="true" data-ajax-method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input name="Text" class="form-control" id="messageText" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                    </div>

                    <!-- This fields are mapped to the model received by Create method -->
                    <input type="hidden" value="@userName" name="userName" />
                    <input type="hidden" value="@chatRoomId" name="chatRoomId"/>
                </form>
            </div>
        }
    </div>
</div>

@if (User?.Identity?.IsAuthenticated == true)
{
<script>
    const userName = "@ViewBag.CurrentUserName";
</script>
}

@section scripts {
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/signrReqHandler.js"></script>
}